@use "./abstracts" as *;

.aboutContainer {
  @include pageLayout();
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  #{&}__firstSection {
    @include sectionLayout(
      "https://res.cloudinary.com/birthdayreminder/image/upload/v1674570379/Trees%20Analysis%20NEXT%20Project/trees_8_jjelgi.jpg"
    );
    min-height: $sectionMinHeight - 15rem;
  }

  #{&}__secondSection {
    @include sectionLayout(
      "https://res.cloudinary.com/birthdayreminder/image/upload/v1674570309/Trees%20Analysis%20NEXT%20Project/trees_9_xeyzjg.jpg"
    );
    min-height: $sectionMinHeight - 15rem;
  }

  #{&}__thirdSection {
    @include sectionLayout(
      "https://res.cloudinary.com/birthdayreminder/image/upload/v1674570970/Trees%20Analysis%20NEXT%20Project/trees_10_dgyfjw.jpg"
    );
    min-height: $sectionMinHeight;
    justify-content: space-between;
  }

  #{&}__fourthSection {
    @include sectionLayout(
      "https://res.cloudinary.com/birthdayreminder/image/upload/v1674570972/Trees%20Analysis%20NEXT%20Project/trees_11_ow8tnx.jpg"
    );
    min-height: $sectionMinHeight;
    justify-content: space-between;
  }

  #{&}__fifthSection {
    @include sectionLayout(
      "https://res.cloudinary.com/birthdayreminder/image/upload/v1674572458/Trees%20Analysis%20NEXT%20Project/trees_12_qfgad4.jpg"
    );
    min-height: $sectionMinHeight;
    justify-content: space-between;
  }

  #{&}__techUsed {
    @include flexCenter(row);
    list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba($color: color(normal-green), $alpha: 0.7);
    padding: 2rem;
    gap: 2rem;
    width: 30%;
    min-height: 20rem;
    border-radius: 2rem;

    @media screen and (max-width: mediaScreenSize("laptop")) {
      width: 80%;
    }

    @media screen and (max-width: mediaScreenSize("mobileL")) {
      width: 100%;
    }

    li {
      @include flexCenter(row);
      align-items: flex-start;
      border-radius: 1rem;
      min-width: 25%;
      gap: 0.5rem;
      padding: 0.75rem 2rem;
      background-color: color(darker-green);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      a {
        @include flexCenter(row);
        gap: 0.5rem;
        background-color: color(darker-green);
        width: 100%;
        text-decoration: none;

        p {
          color: white;
        }
      }
    }
  }
}
