@use "./abstracts" as *;

.navbarContainer {
  @include flexCenter(row);
  justify-content: space-between;
  padding: $templatePadding;
  height: $templateHeight;
  background-color: color(darker-green);

  @media screen and (max-width: mediaScreenSize("laptop")) {
    padding: 0 1rem;
  }
}

.navbarLinks {
  @include flexCenter(row);
  justify-content: space-between;
  width: 20%;

  @media screen and (max-width: mediaScreenSize("laptop")) {
    width: auto;
    gap: 0.5rem;
  }

  li {
    @include flexCenter(row);
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: white;
      font-size: 1rem;

      @media screen and (max-width: mediaScreenSize("mobileM")) {
        font-size: 0.75rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
